.bg-gradient {
    background: linear-gradient(to right, #1e3c72, #2a5298, #1abc9c);
}

.border-gradient {
    border-image: linear-gradient(to right, rgba(30, 60, 114, 0.6), rgba(42, 82, 152, 0.6), rgba(26, 188, 156, 0.6)) 30;
    border-top: 3px solid transparent; 
}
