body {
    margin: 80px 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #dddee7; 
}

h1 {
    font-size: 36px;
    color: #1e335f; /* Facebook blue */
    text-align: center;
    margin-bottom: 30px;
}

#projectsContainer {
        max-width: 1650px;
        margin: 0 auto;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Three columns */
        gap: 20px; /* Gap between cards */
}

.project {
 background-color: #c9cfff; /* Light purple project card */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow */
}

.project h2 {
    font-size: 24px;
    color: #1e335f; /* Facebook blue */
    margin-bottom: 10px;
}

.project p {
    margin-bottom: 10px;
    color: #4f5568;
}

.project p strong {
    font-weight: bold;
    color: #383a57;
}

/* Colors for project cards */
.project:nth-child(odd) {
    background-color: #c5d1e0; /* Light blue */
}

.project:nth-child(even) {
    background-color: #c5d1e0; /* Darker blue */
}